{% extends 'app/base.html' %}


{% block content %}



<form method="post" action="" class="form-inline">
     {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
   <div class="form-inline line-item">
            {{ form.food }}
            {{ form.units }}
          {{ form.val }}
 {% if form.instance.pk %}{{ form.DELETE }}{% endif %}

       <!-- <span class='glyphicon glyphicon-remove remove_item' aria-hidden='true'></span> -->
        </div> <br>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}



  {% block morejs %}

var cache = {};
/* Bind autocomplete to inputs on focus - does this make cache obsolete? */
$(document).on("focus",".foods",function(e) {

if ( !$(this).data("autocomplete") ) {

$( ".foods" ).autocomplete(
/* PARAMETERS */
{
minLength: 2,

source: function( request, response ) {
/* source FROM CACHE */
var term = request.term;
if ( term in cache ) {
response( cache[ term ] );
return;
}
/* ELSE source FROM DATABASE */
$.getJSON( "{% url 'food_select_options' %}", request, function( data, status, xhr ) {
cache[ term ] = data;
response( data );
});  /* END .getJSON */
},  /* END source PARAMETER */
select:function(event,ui) {

var thisrow = $(this).closest('.form-inline');
thisrow.find(".val").val(1.00);

$.post("{% url 'unit_select_options' %}", {item_id:ui.item.id},
function(data) {
if (data) {

this_select = thisrow.find('.units');
this_select.empty();

$.each(data, function(key, value) {

this_select.append($("<option></option>").attr("value", value).text(value));
});




}}
); /* end .POST */
}  /* end SELECT function */
} /* END PARAMETERS */);  /* END autocomplete */
} /* end If autocomplete */
}); /* end on focus */


/* ---------
------------
some plugin that handles
deleting and adding formsets dynamically
REPO: https://github.com/elo80ka/django-dynamic-formset
DOCS: https://github.com/elo80ka/django-dynamic-formset/blob/master/docs/usage.rst
------------
-----------*/

    $('.line-item').formset({
        addText: 'add food',
        deleteText: 'remove',
prefix: '{{ formset.prefix }}'
    });


{% endblock %}

