{% extends 'app/base.html' %}


{% block content %}



<form method="post" action="" class="form-inline">
     {% csrf_token %}
    {{rform.name.label_tag}}{{rform.name}}

    <hr>
    {{ formset.management_form }}
    {% for form in formset %}
   <div class="form-inline line-item">
            {{ form.food }}
             {{ form.amt }}
            {{ form.units }}

 {% if form.instance.pk %}{{ form.DELETE }}{% endif %}

       <!-- <span class='glyphicon glyphicon-remove remove_item' aria-hidden='true'></span> -->
        </div> <br>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>

</form>



<div id="nutCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#nutCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#nutCarousel" data-slide-to="1"></li>
    <li data-target="#nutCarousel" data-slide-to="2"></li>
    <li data-target="#nutCarousel" data-slide-to="3"></li>
        <li data-target="#nutCarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">

<canvas id="proxChart" width="200" height="200"></canvas>
    </div>

    <div class="item">
    <canvas id="lipChart" width="200" height="200"></canvas>

    </div>

    <div class="item">

<canvas id="vitChart" width="200" height="200"></canvas>

    </div>

    <div class="item">

<canvas id="minChart" width="200" height="200"></canvas>

    </div>

         <div class="item">

<canvas id="othChart" width="200" height="200"></canvas>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#nutCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#nutCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--<canvas id="proxChart" width="400" height="400"></canvas>
<canvas id="lipChart" width="400" height="400"></canvas>
<canvas id="vitChart" width="400" height="400"></canvas>
<canvas id="minChart" width="400" height="400"></canvas>
<canvas id="othChart" width="400" height="400"></canvas>
-->
{% endblock %}



  {% block morejs %}

var cache = {};
/* Bind autocomplete to inputs on focus - does this make cache obsolete? */
$(document).on("focus",".foods",function(e) {

if ( !$(this).data("autocomplete") ) {

$( ".foods" ).autocomplete(
/* PARAMETERS */
{
minLength: 2,

source: function( request, response ) {
/* source FROM CACHE */
var term = request.term;
if ( term in cache ) {
response( cache[ term ] );
return;
}
/* ELSE source FROM DATABASE */
$.getJSON( "{% url 'food_select_options' %}", request, function( data, status, xhr ) {
cache[ term ] = data;
response( data );
});  /* END .getJSON */
},  /* END source PARAMETER */
select:function(event,ui) {

var thisrow = $(this).closest('.form-inline');
thisrow.find(".amt").val(1.00);

$.post("{% url 'unit_select_options' %}", {item_id:ui.item.id},
function(data) {
if (data) {

this_select = thisrow.find('.units');
this_select.empty();

$.each(data, function(key, value) {

this_select.append($("<option></option>").attr("value", value[0]).text(value[1]));
});




}}
); /* end .POST */
}  /* end SELECT function */
} /* END PARAMETERS */);  /* END autocomplete */
} /* end If autocomplete */
}); /* end on focus */


/* ---------
------------
some plugin that handles
deleting and adding formsets dynamically
REPO: https://github.com/elo80ka/django-dynamic-formset
DOCS: https://github.com/elo80ka/django-dynamic-formset/blob/master/docs/usage.rst
------------
-----------*/

    $('.line-item').formset({
        addText: 'add food',
        deleteText: 'remove',
prefix: '{{ formset.prefix }}'
    });



/*==============
CHART
===========*/
var proxdata = {
    labels: {{prox_labels|safe}},
    datasets: [
        {
            label: "Proximates",
            data: {{prox_data|safe}},
        }
    ]
};

var lipdata = {
    labels: {{lip_labels|safe}},
    datasets: [
        {
            label: "Lipids",
            data: {{lip_data|safe}},
        }
    ]
};

var mindata = {
    labels: {{min_labels|safe}},
    datasets: [
        {
            label: "Minerals",
            data: {{min_data|safe}},
        }
    ]
};

var vitdata = {
    labels: {{vit_labels|safe}},
    datasets: [
        {
            label: "Vitamins",
            data: {{vit_data|safe}},
        }
    ]
};

var othdata = {
    labels: {{oth_labels|safe}},
    datasets: [
        {
            label: "Other",
            data: {{oth_data|safe}},
        }
    ]
};
//-------------
var proxChart = new Chart($("#proxChart"), {
    type: 'horizontalBar',
    data: proxdata,
    //options: options
});

var vitChart = new Chart($("#vitChart"), {
    type: 'horizontalBar',
    data: vitdata,
    //options: options
});

var lipChart = new Chart($("#lipChart"), {
    type: 'horizontalBar',
    data: lipdata,
    //options: options
});

var minChart = new Chart($("#minChart"), {
    type: 'horizontalBar',
    data: mindata,
    //options: options
});

var othChart = new Chart($("#othChart"), {
    type: 'horizontalBar',
    data: othdata,
    //options: options
});




{% endblock %}

